/* Add Style TO My Webdite */
* {
    font-family: 'Poppins', sans-serif;
    margin: 110;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


#c {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.dark-mode {
    background-color: #0b0c25 !important;
    color: white !important;
}

.dark-mode .navbar,
.dark-mode .bg-body-tertiary {
    background-color: #111324 !important;
}

.dark-mode .nav-link,
.navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
    color: #ddd !important;
    font-weight: 600;
}

.dark-mode .nav-link:hover {
    color: white !important;
}

.dark-mode .card,
.dark-mode .item,
.dark-mode .about,
.dark-mode .form input {
    background-color: #1b1d36 !important;
    color: white !important;
    border-color: #333 !important;
}

.dark-mode footer {
    color: #ccc !important;
}

.reveal {
    opacity: 0;
    transform: translateX(-40px)translateY(-100px);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

/* لما يدخل الشاشة */

.reveal.show {
    opacity: 1;
    transform: translateX(0);
}

:root {
    --main-color: #306cf4;
    --second-color: rgba(139, 0, 0, 0.731);
}

.darkorlightmode {
    background-color: rgb(255, 255, 255);
}

.color {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-family: cursive;
}

.navbar .container-fluid .navbar-brand img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 9px #eee;
}

nav {
    z-index: 9999999;
}

nav ul li a:hover {
    padding: 7px 5px;
    color: #ddd;
    background-color: var(--main-color);
    border-radius: 10px;
}

.main-section .content {
    position: relative;
    z-index: 2;
    color: whitesmoke;
}

.main-section {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    color: white;
}

.main-section h3 {
    font-weight: 600;
    font-size: 10px;
}

.main-section h1 {
    font-size: 20px;
}

.main-section .a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 0.5em;
    padding: 2px 5px;
}

/* End Header  */

/* End Main Section  */

section {
    padding: 100px 20px;
}

.main-section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.562) 40%, rgba(255, 255, 255, 0.402));
    background-attachment: fixed;
    /* overflow: hidden; */
    /* background-image: url("imags/240_F_162741825_MavO6HW8wEoJsCQQuMrTHg0r5uNGbfbn.jpg"); */
    /* background-position: center; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
}

@media screen and (max-width:250px) {
    .main-section img {
        display: none;
    }

    .main-section {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:380px) {
    .main-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

.main-section:hover {
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.562) 40%, transparent);
    background-attachment: fixed;
}

.main-section img {
    height: 180px;
    width: 180px;
    border-radius: 6rem;
    animation: main-section-img 3s;
    animation-iteration-count: infinite;
}

@media screen and (min-width: 900px) {
    .main-section img {
        height: 290px;
        width: 280px;
        border-radius: 50%;
        animation: main-section-img 4s;
        animation-iteration-count: infinite;
    }
}

@media screen and (min-width:339px) {
    .main-section img {
        display: block;
    }
}

@keyframes main-section-img {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(-30px);
    }
}

.main-section {
    font-size: 0.9em;
}

.main-section .icons {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    margin: 10px;
}

.main-section h4 {
    font-size: 19px;
    font-weight: 900;
}

.main-section h4 span {
    font-size: 2em;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 30px rgb(255, 255, 255);
}

.main-section div {
    width: 90%;
    margin: auto;
}

.main-section .icons i {
    margin-top: 2px;
    font-size: 1.5em;
    color: #ffffff;
    transition: all 2s;
}

.main-section .icons i:hover {
    color: var(--main-color);
    transform: scale(1.9);
}

.main-section h1 {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blue;
    margin: 10px 0px;
}

.main-section h3 {
    font-weight: 7000;
    margin-bottom: 20px;
    font-size: 15px;
}

/* End Main Section  */

/* Start Services */

.More {
    text-align: center;
    width: 100%;
}

.More>h2 {
    padding: 30px 20px;
    color: var(--main-color);
    font-size: 1.6em;
    font-weight: 900;
}

.More>h2::before {
    content: "";
    margin: 20px 10px;
    width: 100%;
    height: 10px;
    border-style: solid;
    border-radius: 10px;
}

.More .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    overflow: hidden;
    margin: 20px 20px;
    gap: 50px;
}

.More .cards img {
    transition: all 3s ease-in;
    height: 240px;
}

.More .cards .item {
    padding: 10px;
    overflow: hidden;
}

.More .cards .item img:hover {
    box-shadow: 20px 20px 100px blue;
    border-radius: 10px;
    transform: scale(1.1);
    margin-bottom: 50px;
}

/* End Services  */

.about div>h2 {
    text-align: center;
    padding: 30px 20px;
    margin: 50px 20px;
    color: var(--main-color);
    font-size: 1.6em;
    font-weight: 900;
}

.about p {
    filter: blur(0.5px);
}

.about p:hover {
    filter: blur(0px);
}

.about div>h2::before {
    content: "";
    margin: 20px 10px;
    width: 100%;
    height: 10px;
    border-style: solid;
    border-radius: 10px;
}

/* Start Projects */

.Projects>h2 {
    text-align: center;
    padding: 30px 20px;
    margin: 50px 20px;
    color: var(--main-color);
    font-size: 1.6em;
    font-weight: 900;
}

.Projects>h2::before {
    content: "";
    margin: 20px 10px;
    width: 100%;
    height: 10px;
    border-style: solid;
    border-radius: 10px;
}

.Projects .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
    text-align: center;
}

@media screen and (max-width:430px) {
    .Projects .items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200, 1fr));
        gap: 50px;
        text-align: center;
    }
}

.Projects .itemm {
    overflow: hidden;
    border: 1px solid red;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    transition: all 2s;
    animation: move 3s;
    animation-iteration-count: infinite;
}

/* .Projects .itemm:hover img {
    color: rgb(0, 0, 0);
    z-index: 2;
    transform: scale(1.2);
} */

.Projects .itemm:hover {
    background: linear-gradient(to left top, rgba(128, 128, 128, 0.502), rgba(255, 255, 255, 0.228));
}

@keyframes move {
    0% {
        box-shadow: 0px 0px 20px rgb(37, 10, 242);
        border: 1px solid red;
    }

    50% {
        box-shadow: 0.6px 0.6px 10px rgb(37, 10, 242);
        border: 1px solid red;
    }

    70% {
        box-shadow: 0.8px 0.8px 10px rgb(37, 10, 242);
        border: 1px solid rgb(255, 51, 0);
    }

    100% {
        box-shadow: 1px 1px 15px rgb(37, 10, 242);
        border: 1px solid rgb(21, 0, 255);
    }
}



.itemm {
    padding: 0px;
    height: fit-content;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.itemm::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 70%;
    background: rgba(0, 0, 255, 0.39);
    filter: blur(5.1px);
    transition: 0.7s ease;
}

.itemm:hover::after {
    bottom: 0;
}

.itemm img {
    width: 100%;
    display: block;
    transition: transform 0.5s ease;
}

.itemm .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* height: 50%; */
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)); */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    /* align-items: center; */
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(-70%);
    transition: 0.5s ease;
}

.itemm:hover img {
    transform: scale(1.05);
}

.itemm:hover .overlay {
    opacity: 1;
    transform: translateY(0);
}

.itemm .overlay h3 {
    margin: 5px 0;
    font-weight: 900;
}

.Projects .itemm img {
    border-radius: 5px;
    margin: 20px;
    width: 90%;
    height: 150px;
    transition: all 2s;
}

.Projects .itemm h3 {
    color: white;
    margin: 10px 20px;
    font-weight: bold;
}

.Projects .itemm p {
    color: rgb(159, 184, 184);
}

.Skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.Skills .card {
    background-color: #111324;
    color: white;
    box-shadow: 1px 1px 10px white;
}

.Skills .card:hover {
    background-color: transparent;
    border: 2px solid white;
    color: blue;
}

.Skills .card i {
    width: 100%;
    font-size: 70px;
    margin-top: 10px;
    border-radius: 20px;
    color: var(--main-color);
}

.carousel {
    width: 90%;
    position: relative;
    overflow: hidden;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 50px;
}

.carousel .carousel-indicators {
    position: relative;
}

.carousel .carousel-indicators ul {
    display: flex;
    flex-wrap: wrap;
}

.carousel .carousel-indicators ul li {
    border-radius: 10px;
    margin: 0px 10px;
    z-index: 555;
}

.carousel .carousel-indicators ul li:hover {
    box-shadow: 1px 1px 10px white;
}

.carousel .carousel-inner .carousel-item img {
    height: 80vh;
    width: 50px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.491);
}

.carousel button {
    filter: blur(0px);
    /* position: absolute; */
    height: fit-content;
    padding: 7px 0px;
    margin: 0px 10px;
    top: 50%;
    background-color: transparent;
}

.carousel .buttonn {
    border-radius: 50px;
    filter: blur(0px);
    position: absolute;
    height: fit-content;
    padding: 7px 0px;
    margin: 0px 10px;
    top: 50%;
    background-color: transparent;
}

.carousel .buttonn ul li:hover {
    filter: blur(0.5px);
    background: linear-gradient(to left top, rgba(231, 231, 231, 0.45), rgba(0, 0, 0, 0.45));
}

.carousel .buttonn:active {
    box-shadow: 1px 1px 10px white;
}

.contact2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ffffffae;
    align-items: center;
    align-items: center;
    min-height: 100vh;
    padding: 25px;
}

.contact2 .text .part1 h2 {
    border-radius: 10px;
    font-weight: 800;
    margin: 10px 0px;
    padding: 10px;
}

.contact2 .text .part1 span i {
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    color: blue;
    padding: 10px;
}

.contact2 .text .part1 span {
    border-radius: 10px;
    padding: 10px;
}

.contact2 .text .part2 h2 {
    border-radius: 10px;
    margin-top: 30px;
    font-weight: 800;
    padding: 10px;
}

.contact2 .text .part2 a i {
    background-color: rgb(246, 246, 246);
    text-align: center;
    padding: 2px 3px;
}

.contact2 .text .part2 a i {
    color: rgb(0, 13, 255);
    border-radius: 30%;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 35px;
    padding: 10px;

}

.contact2 .input input {
    background-color: transparent;
    border-radius: 20px;
    margin-top: 15px;
    transition: 1s;
    padding: 10px;
    width: 100%;
    margin: auto;
}

.contact2 .input form .seconed-part {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact2 .input form {
    padding: 20px;
    width: fit-content;
    border: 2px solid yellow;
    border-radius: 10px;
}

.contact2 .input form input::placeholder {
    color: rgba(0, 0, 255, 0.553);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contact2 .input input:focus {
    outline: none;
    transform: scale(1.03);
}

.contact2 .input textarea {
    resize: none;
    width: 100%;
    margin: auto;
    height: 170px;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0px;
}

.contact2 .input button {
    width: 50%;
    margin: auto;
    padding: 7px;
    border-radius: 15px;
    background: linear-gradient(to left top, red, black);
    color: white;
    font-weight: 900;
    font-style: italic;
    transition: 2s;
}

@media screen and (max-width:330px) {
    footer p {
        text-align: center;
        padding: 10px;
        font-size: 10px;
        background-color: rgb(0, 0, 0);
        color: white;
        width: 100%;
    }

    .carousel .carousel-inner .carousel-item img {
        height: 50vh;
        width: 50px;
        border-radius: 20px;
        border: 2px solid rgba(255, 255, 255, 0.491);
    }
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    background-color: black;
    color: white;
    width: 100%;
}